{% extends 'template_base.html' %}

{% block title %}
<title>UNITEST - DetailTest</title>
{% endblock %}





 {% block contenido %}
 
 

<table style="width:50%"  class="table table-bordered">
  <tr>
      {% load staticfiles %}
    <th><img src="{% static 'Img/logo.png' %}" height="100" width="80"></th>    
    <th colspan="2" id="titulo">Plan de pruebas</th>
    <th><img src="{% static 'Img/logo.png' %}" height="100" width="80"></th>    
  </tr>
  <tr>
    
    <th colspan="4" id="columna" >Proyecto: {{ object.projectName }} </th>  
      
  </tr>
  <tr>
    <th colspan="4" id="columna">Caso de Prueba: {{ object.testName }}</th>
    
  </tr>
  <tr>
    <th class="center titulo">Tipo de object </th>
    <th colspan="3">{{ object.testType }}</th>
  </tr>
  <tr>
    <th class="center titulo">ID prueba</th>
    <th colspan="3" >{{ object.testId }}</th>
  </tr>
  <tr>
    <th class="center titulo">Fecha de realizacion </th>
    <th colspan="3" >{{ object.testDate }}</th>
  </tr>
  <tr>
    <th class="center titulo">Realizada por </th>
    <th colspan="3" >{{ object.testAuth }}</th>
  </tr>
  <tr>
    <th class="center titulo">Objetivo de la prueba</th>
    <th colspan="3" >{{ object.projectName }}</th>
  </tr>
  <tr>
    <th class="center titulo">Requisitos</th>
    <th colspan="3" >{{ object.testRequirements }}</th>
  </tr>
  <tr>
    <th colspan="4" id="columna">Detalles de la prueba</th>
  </tr>
  <tr>
    <th colspan="2" class="center titulo">Accion del usuario </th>
    <th  class="center titulo">Respuesta esperada </th>
    <th  class="center titulo">Resultado Obtenido</th>
  </tr>
  <tr>
    <th colspan="2">{{ object.userAction }}</th>
    <th >{{ object.expectedResult }}</th>
    <th >{{ object.result }}</th>
    
  </tr>
  
  <tr>
    <th colspan="4" id="columna">Observaciones</th>
   </tr>
   <tr>
     <th colspan="4" >{{ object.observations }}</th>
   </tr>
  <tr>
    <th class="center titulo">Calificación</th>
    <th colspan="3" >{{ object.calificacion }}</th>
    
  </tr>
  
   
</table>


<a href="/pdf/{{ prueba.id}}"><input id="botonGuardar" type="submit" value="Guardar" class="btn btn-primary" />
</a>
{% endblock %}


