

<!DOCTYPE html>
<html lang="es">
	<head>
		

		
		<meta charset="iso-8859-1">
		 
		
		{% block title %}
		{% endblock %}

		{% load staticfiles %}
		<link type="text/css" rel="stylesheet" href="{% static 'libs/bootstrap/bootstrap.min.css' %}"/>
		<link  type="text/css" rel="stylesheet" href="{% static 'estilos.css' %}"  >
		<!-- <link href="{% static 'html_estilo.css' %}" rel="stylesheet" type="text/css"> -->
		
		
		
	</head>

	<body>
		<div class="caja">
				<header class="page-header">
				<h1>UNITEST</h1>
			</header>

			<nav role="navigation">
				<ul class="nav nav-tabs">
					<li role="presentation"><a href="/">Inicio</a> </li>
					<li role="presentation"><a href="/create/">crear pueba</a></li>
					<li role="presentation"> <a href="#"> Acerca de</a> </li>
				</ul>
			</nav>

			<section>
				{% block contenido %}

				{% endblock %}

			</section>
			
			<footer class="panel-footer">
				Luis Gonzalez - 1154010<br>
				Universidad del valle<br>
				Técnicas de pruebas de softwate<br>
			</footer>
		</div>
		
	</body>
	</html>