{% extends 'template_base.html' %}
{% block title %}
<title>UNITEST - UpdateTest</title>
{% endblock %}

{% block contenido %}


	<div class="form-group ">
		<form id="formUpdate"  action="" method="post">{% csrf_token %}
			{{ form.as_p }}
	   		<input id="botonUpdate" type="submit" value="Update" class="btn btn-primary" />
		</form>
	</div>
	{% if messages %}
    <div class="">
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}





{% endblock %}